asgiref==3.8.1
dj-database-url==2.2.0
Django==5.1.2
gunicorn==23.0.0
mysql==0.0.3
mysql-connector==2.2.9
mysqlclient==2.2.4
node==1.2.2
nodejs==0.1.1
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
packaging==24.1
plumber==1.7
psycopg2-binary==2.9.10
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.7.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==7.1.0
zope.lifecycleevent==5.0
zope.proxy==6.1
